on:
  push:
    branches: 
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev
  delete:
    branches:
      - master
      - dev

name: Build

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}


## Syncs GitHub repo to AWS CodeCommit internal repo to trigger Hugo.io build pipeline
    - name: Configure Git Credential Helper
      id: setup-git
      env:
          AWS_CODECOMMIT_REPO_URL: ${{ secrets.AWS_CODECOMMIT_REPO_URL }}
      run: |
        git config --global credential.helper '!aws codecommit credential-helper $@'
        git config --global credential.UseHttpPath true
        git remote add mirror $AWS_CODECOMMIT_REPO_URL
        git push --tags --force --prune mirror "refs/remotes/origin/*:refs/heads/*"
